*{
    color:blueviolet;
}
a{
    color: green;
}
.test{
    color:chocolate;
}
.tesft{
    color:aqua;
}
.box{
    border-style: solid;
    border-color: red;
    border-width: 5px;
}
body {
    background-color: black;
}
