*{
    color:blueviolet;
}
/*
*{
    border-style: solid;
    border-color: red;
    border-width: 5px;
}*/
body {
    background-color: black;
}
/*
.container{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    gap: 1em;
    justify-content: space-around;
     margin: 5px;
}
*/
.container{
/*    resize: both;
  overflow: auto;
  display: grid;
  gap: 75px;
  padding: 4px;
  background-color: purple;
  grid-template-rows: 250px 250px 250px 250px ;
  grid-template-columns: 250px 250px 250px;
  justify-items: center;
  justify-self: center;
  */

  overflow: auto;
  display: grid;
  gap: 50px;
  border: 1px black;
  padding-right: 100px;
  padding-left: 100px;
  grid-auto-rows: 250px;
  grid-template-columns: 250px 250px 250px;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.item{
    background-color: #333333;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 1.4rem;
    border-style:solid none;
    border-color: purple;
    border-width: 4px;
    border-radius: 25px;
  }

  
  .OrganizationLogo{
    height: 195px;
    width: 195px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #222222;
  }
  .OrganizationName{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family:fantasy;
  }
  .TitleImage{
    height: 143px;
    width: 737px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
  }
  .footer{
    text-align: center;
    font-size: 6.0rem;
    font-family:fantasy;
  }
