/*
*{
    border-style: solid;
    border-color: red;
    border-width: 5px;
}*/
body {
    background-color: black;
}
.OrgTitle{
  display: flex;
  border: 1px black;
  gap: 0px;
  justify-content:center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
  .TitleImage{
    height: 143px;
    width: 737px;
    padding-bottom: 20px;
  }
  .OrgLogo{
    height: 163px;
    width: 163px;
  }
  .OrganizationFile{
    height: 100px;
    width: 800px;
    row-gap: 0px;
    background-color: gray;
    color: aliceblue;
  }
  .OrgFiles{
    display: grid;
    justify-content: center;
    grid-auto-rows: 100px;
    padding-bottom: 150px;
    gap: 20px;
    grid-template-columns: 800px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 6.0rem;
  }